body{
    font-size: 18px;
    
}
.odin{
 color: blue;
 background: yellow;
 font-size: 24px;
 font-family: 'Times New Roman', Times, serif;
 text-align: center;
}

img{
    margin: 50px;
    height: auto;
    width: 300px;
}
h1{
    color:red;
    text-align: center;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.redvelvet,h1,h4{
    color: red;
    margin: 5px;
    height:auto;
    width:300px
    
}
.origin{
    background: yellow;
    color: blue;
}
.steps{
    background: green;
    color: white;
}


